dist/index.pug
ion-content.index-main(padding)
    img.app-icon(src="assets/img/logo-white.png")

ion-footer
    .button-bar
        a.button.button-clear.button-login-clear('(click)'="showPopupInviteCode()") {{ 'components.main-onawa.index.have-invite' | translate }}
        a.button.button-clear.button-login-clear('(click)'="showPopupResetPassword()") {{ 'components.main-onawa.index.forgot-passwd' | translate }}
    .button-bar
        a.button.button-clear.button-login('(click)'="showPopupLogin()") {{ 'components.main-onawa.index.login' | translate }}

dist/index.html

<ion-content class="index-main" padding="padding"><img class="app-icon" src="assets/img/logo-white.png"/></ion-content>
<ion-footer>
  <div class="button-bar"><a class="button button-clear button-login-clear" (click)="showPopupInviteCode()">{{ 'components.main-onawa.index.have-invite' | translate }}</a><a class="button button-clear button-login-clear" (click)="showPopupResetPassword()">{{ 'components.main-onawa.index.forgot-passwd' | translate }}</a></div>
  <div class="button-bar"><a class="button button-clear button-login" (click)="showPopupLogin()">{{ 'components.main-onawa.index.login' | translate }}</a></div>
</ion-footer>
