dist/invite.html

<ion-content class="invite-main" padding="padding">
  <form [formGroup]="form">
    <div class="row">
      <div class="col cancel-link-content"><a (click)="close()">{{ 'global.cancel' | translate }}</a></div>
    </div>
    <div class="row">
      <div class="col">
        <h4>{{ 'components.main-onawa.invite.title' | translate }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>{{ 'components.main-onawa.invite.info' | translate }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list">
          <label>
            <ion-input type="text" placeholder="{{ 'components.main-onawa.invite.placeholder' | translate }}" [formControl]="form.controls['code']"></ion-input>
          </label>
        </div>
      </div>
    </div>
    <div class="row content-spinner" *ngIf="loading">
      <div class="col">
        <ion-spinner></ion-spinner>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-login" (click)="inviteCode(form.value)">{{ 'global.confirm' | translate }}</button>
      </div>
    </div>
  </form>
</ion-content>

dist/invite.pug
ion-content.invite-main(padding)
    form('[formGroup]'="form")
        .row
            .col.cancel-link-content
                a('(click)'="close()") {{ 'global.cancel' | translate }}
        .row
            .col
                h4 {{ 'components.main-onawa.invite.title' | translate }}
        .row
            .col
                p {{ 'components.main-onawa.invite.info' | translate }}
        .row
            .col
                .list
                    label
                        ion-input(type="text", placeholder="{{ 'components.main-onawa.invite.placeholder' | translate }}",
                        '[formControl]'="form.controls['code']")
        .row.content-spinner('*ngIf'="loading")
            .col
                ion-spinner
        .row
            .col
                button.button.button-block.button-login('(click)'="inviteCode(form.value)") {{ 'global.confirm' | translate }}
