dist/login.pug
ion-content.login-main(padding)
    form('[formGroup]'="form", '(ngSubmit)'="login(form.value)")
        .row
            .col.cancel-link-content
                a('(click)'="close()") {{ 'global.cancel' | translate }}
        .row
            .col
                h4 {{ 'components.main-onawa.login.title' | translate }}
        .row
            .col
                p('*ngIf'="!form.code") {{ 'components.main-onawa.login.text1' | translate }}
                p('*ngIf'="form.code") {{ 'components.main-onawa.login.text2' | translate }}
        .row
            .col
                .list
                    label('*ngIf'="form.code", style="margin-bottom: 10px;")
                        span {{form.name}}
                    label
                        ion-input('*ngIf'="!form.code", type="email", placeholder="{{ 'components.main-onawa.login.email' | translate }}", '[formControl]'="form.controls['email']")
                        span('*ngIf'="form.code")  {{formLogin.email}}
                    label
                        ion-input(type="password", placeholder="{{ 'components.main-onawa.login.passwd' | translate }}", '[formControl]'="form.controls['password']")
                    label('*ngIf'="form.code")
                        ion-input(type="password", placeholder="{{ 'components.main-onawa.login.confirm-passwd' | translate }}", '[formControl]'="form.controls['passwordConfirmation']")
        .row.content-spinner('*ngIf'="loading")
            .col
                ion-spinner
        .row
            .col
                button.button.button-block.button-login(type="submit") {{ 'global.confirm' | translate }}

dist/login.html

<ion-content class="login-main" padding="padding">
  <form [formGroup]="form" (ngSubmit)="login(form.value)">
    <div class="row">
      <div class="col cancel-link-content"><a (click)="close()">{{ 'global.cancel' | translate }}</a></div>
    </div>
    <div class="row">
      <div class="col">
        <h4>{{ 'components.main-onawa.login.title' | translate }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p *ngIf="!form.code">{{ 'components.main-onawa.login.text1' | translate }}</p>
        <p *ngIf="form.code">{{ 'components.main-onawa.login.text2' | translate }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list">
          <label *ngIf="form.code" style="margin-bottom: 10px;"><span>{{form.name}}</span></label>
          <label>
            <ion-input *ngIf="!form.code" type="email" placeholder="{{ 'components.main-onawa.login.email' | translate }}" [formControl]="form.controls['email']"></ion-input><span *ngIf="form.code"> {{formLogin.email}}</span>
          </label>
          <label>
            <ion-input type="password" placeholder="{{ 'components.main-onawa.login.passwd' | translate }}" [formControl]="form.controls['password']"></ion-input>
          </label>
          <label *ngIf="form.code">
            <ion-input type="password" placeholder="{{ 'components.main-onawa.login.confirm-passwd' | translate }}" [formControl]="form.controls['passwordConfirmation']"></ion-input>
          </label>
        </div>
      </div>
    </div>
    <div class="row content-spinner" *ngIf="loading">
      <div class="col">
        <ion-spinner></ion-spinner>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-login" type="submit">{{ 'global.confirm' | translate }}</button>
      </div>
    </div>
  </form>
</ion-content>
