dist/reset-password.html

<ion-content class="reset-password-main" padding="padding">
  <div class="row">
    <div class="col cancel-link-content"><a (click)="close()">{{ 'global.cancel' | translate }}</a></div>
  </div>
  <div class="row">
    <div class="col">
      <h4>{{ 'components.main-onawa.reset-password.title' | translate }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>{{ 'components.main-onawa.reset-password.info' | translate }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="list">
        <label>
          <ion-input type="text" placeholder="{{ 'components.main-onawa.reset-password.placeholder' | translate }}" [formControl]="form.controls['resetEmail']"></ion-input>
        </label>
      </div>
    </div>
  </div>
  <div class="row content-spinner" *ngIf="loading">
    <div class="col">
      <ion-spinner></ion-spinner>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="button button-block button-login" (click)="resetPassword(form.value)">{{ 'components.main-onawa.reset-password.button' | translate }}</button>
    </div>
  </div>
</ion-content>

dist/reset-password.pug
ion-content.reset-password-main(padding)
    .row
        .col.cancel-link-content
            a('(click)'="close()") {{ 'global.cancel' | translate }}
    .row
        .col
            h4 {{ 'components.main-onawa.reset-password.title' | translate }}
    .row
        .col
            p {{ 'components.main-onawa.reset-password.info' | translate }}
    .row
        .col
            .list
                label
                    ion-input(type="text", placeholder="{{ 'components.main-onawa.reset-password.placeholder' | translate }}", '[formControl]'="form.controls['resetEmail']")
    .row.content-spinner('*ngIf'="loading")
        .col
            ion-spinner
    .row
        .col
            button.button.button-block.button-login('(click)'="resetPassword(form.value)") {{ 'components.main-onawa.reset-password.button' | translate }}
